<div class="cvContent">
    <div id="teamsPoints" class="jqplot-target"></div>
    <div id="juryPoints" class="jqplot-target"></div>
    <div id="skillLevels" class="jqplot-target"></div>
    <div class="name">{name}</div>
    <div class="teamName">
        <div class="center">{teamName}</div>
    </div>
    <div class="teamScore">{teamScore}</div>
    <img src="/img/cv/cv_front_page.png" class="frontBackground"/>
    <img src="/img/cv/skills.png" class="skillsHeader"/>
    <img src="/img/cv/achievements.png" class="achievementsHeader"/>
</div>
