<div class="header">
				<div class="left float"></div>
				<div class="centerPart float">
	<table>
		<tr>
			<td style="width: 100px;">
				<div class="timer"></div>
			</td>	
			<td>		
    				<div class="leftArrow"></div>
			</td>
			<td>		
					<div class="scroll">
						<div class="phases"> <!-- Phases goes here --> </div>
					</div>
			</td>
			<td>		
					<div class="rightArrow"></div>
			</td>
		</tr>
		<tr>	
			<td colspan="3">		
    				<div class="headerBtns">
						
  					</div>
			</td>
		</tr>
	</table>			
				</div>
				<div class="right float"></div>
			</div>
			<div class="content">
	
  			</div>
