<table>
	<tr>
		<td style="height: 132px;"><div class="header">
				<div class="left float"></div>
				<div class="centerPart float">
					<div class="logo"></div>
    				<div class="phases"> <!-- Phases goes here --> </div>
					<div class="timer"></div>
    				<div class="headerBtns">
						<a href="javascript:void(0);" class="rulesBtn buttons"><div class="rulesView">Правила</div></a>	
        				<a href="javascript:void(0);" class="skillsBtn buttons"><div class="skillsView">Умения</div></a>
        				<a href="javascript:void(0);" class="achievementsBtn buttons"><div class="achievementsView">Постижения</div></a>
        				<a href="javascript:void(0);" class="teamsInfo buttons"><div class="teamsInfoView">Информация за отборите</div></a>
  					</div>
				</div>
				<div class="right float"></div>
			</div>
		</td>
	<tr>	
	<tr>
		<td>	
			<div class="content">
				
  			</div>
		</td>
	</tr>
</table>
