<div class="statsContainer">
	<div class="title">{title}</div>
<div class="tabs">
    <div class="tab">Умения</div>
    <div class="tab">Постижения</div>
    <div class="tab close">Затвори</div>
</div>
<div style="clear: both;"></div>
<div class="charts">
	<div class="chartContainers">
		<div id="lineChart1Container" ></div>
	</div>
	<div class="chartContainers">
		<div id="lineChart2Container" class="chartContainers"></div>
	</div>
	<div class="chartContainers">
		<div id="barChart1Container" class="chartContainers"></div>
	</div>
	
	
	
</div>
</div>

