.cvDefault {
    margin: 0;
    padding: 0;
    width: 1200px;
}
.cvContent {
    width: 1200px;
}

.cvDefault .frontBackground {
    width: 1200px;
    height: 1550px;
    z-index: -1;
}
.cvDefault .pageBackground {
    width: 1200px;
    height: 1550px;
    z-index: -1;
}
.cvDefault .name {
    position: absolute;
    color: black;
    top: 295px;
    left: 440px;
    font-size: 40px;
}

.cvDefault .teamScore {
    position: absolute;
    color: black;
    top: 275px;
    left: 1010px;
    font-size: 60px;    
}

.cvDefault .teamName {
    position: absolute;
    color: black;
    top: 357px;
    left: 905px;
    font-size: 20px;
    width: 250px;
}
.cvDefault .teamName .center {
    text-align: center;
}

.cvDefault .img {
    background-color: red;
    position: absolute;
}

.cvDefault .skillsHeader {
    position: absolute;
    width: 1000px;
}

.cvDefault .achievementsHeader {
    position: absolute;
    width: 1000px;
}

.cvDefault #teamsPoints {
    position: absolute;
    top: 400px;
    left: 150px;
}
.cvDefault #juryPoints {
    position: absolute;
    top: 400px;
    left: 400px;
}
.cvDefault #skillLevels {
    position: absolute;
    top: 400px;
    left: 650px;
}
