@import url("font.css");
* { margin: 0; padding: 0;}

html { overflow-x: hidden; margin: 0; padding: 0; min-width: 1024px;}
.siteDefault { margin: 0px; padding: 0px; min-width: 1024px; background: url("../img/bg.png"); overflow: hidden; }
.teams, .teamsProgress, .membersCont, .sameTop, .sameBottom, .backBtn { background: url("../img/sprite.png");}


.header { height: 71px; width: 100%; min-width: 1024px; background: url("../img/repeattop.png") repeat-x; margin: 0 auto; padding: 0 auto;}
.float { float: left;}
.logo { float: left; width: 236px; height: 132px; margin-left: 30px; background: url("../img/logo.png") no-repeat;}

/* BUTTONS */
.buttons { background: #333; padding: 5px 10px 5px 10px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; -webkit-box-shadow: 0px 1px 3px #000; -moz-box-shadow: 0px 1px 3px #000; box-shadow: 0px 1px 3px #000;}
.buttons { color: white; text-decoration: none; font-family: 'UbuntuLight';}
.buttons:hover { color: white; opacity: 0.9;}
.pointsBtn {float:left; cursor: pointer;}
.statisticsBtn {cursor: pointer;}

.backBtn { width: 22px; height: 27px; background-position: 0 -952px; position:relative; right: 0px; float:right; top: 25px; right: 30px; z-index: 5;}

.pointsBtn {float:left; cursor: pointer;}
.statisticsBtn {cursor: pointer;}

.rulesBtnView { text-align: center; }
.phases { width: 800px; height: 50px; left: 20px; float: left; position: relative; overflow: hidden; }

.phase { float: left; sition: relative; margin: 13px 10px 0 10px;}
.phase a { text-decoration: none; color: black; font-size: 18px; font-family: 'RodeoBold';}
.headerBtns { float: right; margin-top: 45px;}
.headerBtns a { float: right; margin-right: 50px;}
.rulesBtn { }
.teamsInfo { }

.timer { float: right; margin-top: 13px; margin-right: 40px; font-size: 19px; color: #444; font-family: 'RodeoBold';}

/* CENTER INFO */
#lineChart1Container {
	margin-left: 20px;
	margin-right: 20px;
}
#lineChart2Container {
	margin-left: 20px;
	margin-right: 20px;
	
}

#barChart1Container .jqplot-point-label {
	margin-left: 20px;
	margin-right: 20px;
  	/*border: 1.5px solid #aaaaaa;*/
  	padding: 1px 3px;
  	background-color: #eeccdd;
}

div.jqplot-title {
	font-size:0.8em;
	padding-bottom: 10px;	
	margin-bottom: 20px;
	
}
table.jqplot-table-legend{	padding-top: 50px; top:100px; width: 600px; left: 0px; margin-top:370px;}
tbody { position: relative; margin-top: 200px;}
table.jqplot-table-legend tr { float:left; margin: 0 10px 0 10px;}
table.jqplot-table-legend, table.jqplot-cursor-legend {
	background-color: transparent;
	border: none;	
}

.content { width: 100%; margin-top: 115px; min-width: 1024px;}
.teams { float: left; width: 270px; height: 416px; background-position: 0 -73px; }
.teams .teamsCont { margin: 70px 0 30px 20px; color: #222; position: relative; top: 20px; font-family: 'RodeoBold'; font-size: 21px; font-weight: normal;}
.teams #teamsList { top: 20px; position: relative; font-family: 'RodeoBold'; font-size: 18px;}
.teams #teamsList li { margin: 20px 0 0 30px; position: relative; left: 30px;}
.teams #teamsList li a { font-family: 'RodeoBold'; color: black; font-size: 17px; text-decoration: none;}

.members {}

.teams #source {
    list-style-type: none;
}
.teamsProgress { float: right; width: 867px; height: 497px; margin: -80px auto; padding-top: 65px; right: 60px; background-position: -270px 0; position: relative; }
.teamsProgress span { font-family: 'RodeoBold'; font-size: 18px; margin-left: 100px;}

.teamProgressitem { margin: 20px 0 0 100px;}

.teamProgress .progress { width: 100px;  border: 1px solid #000; position: absolute; }
.progress { height: 29px; position: relative; left: 0px; margin-bottom: 15px; background-color: #111; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; -moz-box-shadow: 0px 1px 3px #000; -webkit-box-shadow: 0px 1px 3px #000; box-shadow: 0px 1px 3px #000; color: white; }
.teamProgressitem .progress .score { font-family: 'UbuntuLight'; color: #efefef; font-weight: normal; padding:7px 0 0 20px;}


.membersCont { float: left; width: 270px; height: 416px; background-position: 0 -73px;}
/*.membersCont .membersHead  { position: relative; top: 20px; left: 5px;}*/
.membersHead .teamNameHead { margin: 0px 0 30px 20px; color: #222; position: relative; top: 20px; font-family: 'RodeoBold'; font-size: 21px; font-weight: normal;}
.membersHead .membersList { top: 20px; position: relative; font-size: 18px;}
.membersHead .membersList li { margin: 20px 0 0 25px; position: relative; left: 30px; font-family: 'RodeoBold'; color: black; font-size: 17px; } 



.stats {
    margin-left: 210px;
}
.statsContainer{
	margin-left: 80px;
	margin-right: 80px;
	}
.teamsProgress .title {
    width: 250px;
    float: left;
    height: 50px;
    line-height: 50px;
    border: 1px solid green;
}
.teamsProgress .tabs {
    width: 450px;
    float: left;
    height: 50px;
    line-height: 50px;
}
.teamsProgress .tabs .tab {
    margin-left: 25px;
    padding: 0px 10px 0px 10px;
    float: left;
    border: 1px solid #444;
}
.teamsProgress .charts {
    /*width: 800px;*/
    /*border: 1px solid green;*/
    height: 300px;
    padding-top: 25px;
}
div.jqplot-target {
    width: 200px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    font-size: 1.6em;
    float: left;
}

/*SAME BACKGROUND PAGES*/
.sameCont { width: 784px; margin: 0px auto; }
.sameTop {  height: 45px; background-position: -307px -596px;}
.sameCenter { padding-left: 50px; background: url("../img/bgrepeat.png")  repeat-y; }
.sameBottom { height: 47px; margin-bottom: 40px; background-position: -307px -648px;}
.sameCenter h2 { font-family: 'RodeoBold'; font-size: 18px; font-weight: normal;}

/* SAME FONT SETUP PAGES*/
.achList li, .skillsList li { font-family: 'RodeoLight'; margin-left: 18px;}

/* RULES PAGE */
.rulesImage { margin-top: 10px; width: 690px }
.activePhase { background: orange; }
