@import url("font.css");
* { margin: 0; padding: 0;}
html { overflow: hidden; margin: 0; padding: 0;}
body { margin: 0px; padding: 0px; min-width: 980px; background: url("../img/bg.png"); overflow: hidden; }
.teams, .teamsProgress, .membersCont, .sameTop, .sameBottom { background: url("../img/sprite.png");}

.header { height: 71px; width: 100%; background: url("../img/repeattop.png") repeat-x; min-width: 800px; margin: 0 auto; padding: 0 auto;}
.float { float: left;}
.logo { float: left; width: 236px; height: 132px; margin-left: 30px; background: url("../img/logo.png") no-repeat;}

/*БУТОНИ*/
.buttons { background: #333; padding: 5px 10px 5px 10px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; -webkit-box-shadow: 0px 1px 3px #000; -moz-box-shadow: 0px 1px 3px #000; box-shadow: 0px 1px 3px #000;}
.buttons { color: white; text-decoration: none; font-family: 'UbuntuLight';}
.buttons:hover { color: white; opacity: 0.9;}
.rulesBtn { float: left;}

.rulesBtnView { text-align: center; }
.phases { width: 800px; height: 50px; left: 20px; float: left; position: relative; overflow: hidden; }

.phase { float: left; position: relative; margin: 13px 10px 0 10px;}
.phase a { text-decoration: none; color: black; font-size: 18px; font-family: 'RodeoBold';}
.headerBtns { float: right; margin-top: 45px;}
.headerBtns a {
    float: right;
    margin-right: 50px;
}
.timer { float: right; margin-top: 13px; margin-right: 40px; font-size: 19px; color: #444; font-family: 'RodeoBold';}

/* CENTER INFO */

.content { width: 100%; margin-top: 115px; min-width: 980px;}
.teams { float: left; width: 270px; height: 416px; background-position: 0 -73px; }
<<<<<<< HEAD

.teams .temsCont { margin: 70px 0 30px 20px; color: #222; position: relative; top: 20px; font-family: 'RodeoBold'; font-size: 22px; font-weight: normal;}
.teams #teamsList { top: 20px; left: 33px; position: relative; font-family: 'RodeoBold'; font-size: 16px;}
=======
.teams .teamsCont  { margin: 70px 0 30px 20px; color: #222; position: relative; top: 20px; font-family: 'RodeoBold'; font-size: 25px; font-weight: normal;}
.teams #teamsList { top: 20px; position: relative; font-family: 'RodeoBold'; font-size: 18px;}
>>>>>>> 90df4beb020e2e58e0070c926494bf2251da58c2

.teams #teamsList li { margin: 20px 0 0 15px;}
.teams #teamsList li a { font-family: 'RodeoBold'; color: black; font-size: 16px; text-decoration: none;}
.teamsInfo {display: none;}
.members {}

.teams #source {
    list-style-type: none;
}
.teamsProgress { float: right; width: 867px; height: 497px; margin: -50px auto; padding-top: 65px; right: 60px; background-position: -270px 0; position: relative; }
.teamsProgress span { font-family: 'RodeoBold'; font-size: 18px; margin-left: 100px;}

.teamProgressitem { margin: 30px 0 0 100px;}

.teamProgress .progress { width: 100px;  border: 1px solid #000; position: absolute; }
.progress { height: 29px; position: relative; left: 0px; margin-bottom: 15px; background-color: #111; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; -moz-box-shadow: 0px 1px 3px #000; -webkit-box-shadow: 0px 1px 3px #000; box-shadow: 0px 1px 3px #000; color: white; }
.teamProgressitem .progress .score { font-family: 'UbuntuLight'; color: #efefef; font-weight: normal; padding:7px 0 0 20px;}


.membersCont { float: left; width: 270px; height: 416px; background-position: 0 -73px;}
.membersCont .backBtn{position:relative; right: 0px;float:right; padding-right: 30px; padding-top: 30px;}
/*.membersCont .membersHead  { position: relative; top: 20px; left: 5px;}*/
.membersCont .teamName{ margin: 70px 0 30px 20px; color: #222; position: relative; top: 20px; font-family: 'RodeoBold'; font-size: 25px; font-weight: normal;}
.membersList { top: 20px; position: relative; font-family: 'RodeoBold'; font-size: 18px;}
.membersList li { margin: 20px 0 0 15px;}


.stats {
    margin-left: 210px;
}
.stats .title {
    width: 250px;
    float: left;
    height: 50px;
    line-height: 50px;
    border: 1px solid green;
}
.stats .tabs {
    width: 450px;
    float: left;
    height: 50px;
    line-height: 50px;
}
.stats .tabs .tab {
    margin-left: 25px;
    padding: 0px 10px 0px 10px;
    float: left;
    border: 1px solid #444;
}
.stats .charts {
    width: 800px;
    border: 1px solid green;
    height: 300px;
    padding-top: 25px;
}
div.jqplot-target {
    width: 200px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    font-size: 1.6em;
    float: left;
}

/*SAME BACKGROUND PAGES*/
.sameCont { width: 784px; margin: 0px auto; }
.sameTop {  height: 45px; background-position: -307px -596px;}
.sameCenter { padding-left: 50px; background: url("../img/bgrepeat.png")  repeat-y; }
.sameBottom { height: 47px; background-position: -307px -648px;}
.sameCenter h2 { font-family: 'RodeoBold'; font-size: 18px; font-weight: normal;}

/* SAME FONT SETUP PAGES*/
.achList li, .skillsList li { font-family: 'RodeoLight'; margin-left: 18px;}

